/* Symantec Watermark: CB70-4860-5397-06-15-6 */

body {
	background-image: url("../../images/Backgrond.jpg"); /* The image used */
	background-size: auto;
	background-blend-mode: color-burn;
	background-attachment: fixed;


}


a:visited {
color: greenyellow;
}



#coToolbarFrame {
	width: 100%;
	height: 0;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	zoom: inherit;
	visibility: visible !important;
}
#coFrameDiv {
	width: 100%;
	height: 0;
	border: none;
	margin: 0;
	padding: 0;
	z-index:2147483647;
	background-color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	zoom: inherit;
}



#coFrameDiv * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	zoom: inherit;
}

@media print {
	div#coFrameDiv {display: none !important;}
	#coToolbarFrame {display: none !important;}
}

img {
	display: inline-block;
	align-items: flex-start;
	list-style-image: inherit;
	padding: 5px;
	border-color: whitesmoke;
	shape-image-threshold: inherit;
	border-image-outset: inherit;
	outline: lawngreen;
	flex-flow: column;
	flex: auto;
	width: border-box;
}


style {

}
/**
 * Contact Section
 **/

div.sfooter-content section:last-child {
	background-color: #333333;
}

.form-wrapper{
	background-color: black;
	color: yellow;
	padding: 20px;
}

label {
	display: block;
	margin: 15px 0 5px 0;
}

input, textarea {
	width: 30vw;
	padding: 8px;
}

button {
	background-color: yellow;
	padding: 10px 31px;
	font-weight: bold;
	border: none;
}

form div:nth-child(4){
	margin-bottom: 15px;
}

.form-wrapper h2{
	margin-top: 0;
}

/**
 *Footer.
 **/
footer {
	background-color: black;
	color: white;
	text-align: justify-all;
}
/**
 *header.
 **/
header {
	background-color: black;
	color: white;
	text-align: right ;
	padding: 25px;
	display: block;

}
h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: yellow;
}
h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: yellow;
}
div {
	display: block;
	border-image-slice: fill;
}


